.App {
  text-align: center;
}

body {
  background-color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.popular {
  -webkit-box-reflect: below 0
    linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
  border-radius: 10px;
  /* box-shadow: 0 3px 10px rgba(70, 69, 69, 0.5); */
  display: flexbox;
  flex-direction: row;
  float: left;
  width: 190px;
  height: 300px;
  padding: 10px;
  margin: 20px;
}

.popular:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.popular .titles {
  color: white;
  word-wrap: break-word;
  text-align: center;
  font-weight: 500;
}

.popular img {
  border-radius: 10px;
  align-items: center;
  margin: 10px;
  width: 170px;
}

.big-titles1 {
  font-size: 30px;
  background: -webkit-linear-gradient(#eee, #333);
  margin: 10px 50px 10px 50px;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.big-titles2 {
  font-size: 30px;
  background: -webkit-linear-gradient(#eee, #333);
  margin: 50px 50px 10px 50px;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  margin: 0 auto;
  align-items: center;
}

.slider {
  margin: 10px;
}
